.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Code-C#/FileContentIndex/85c50a0f-b67f-44c2-b9ae-8b9d451cb785.vsidx
.vs/Code-C#/FileContentIndex/696ac54d-edae-4186-95ee-157fbfef93ac.vsidx
.vs/Code-C#/FileContentIndex/37797906-81a4-4c7e-b24f-d490b6b34ebf.vsidx
.vs/Code-C#/FileContentIndex/b74be769-f3cc-4d7e-b171-2709dc12cfee.vsidx
.vs/Code-C#/v17/.wsuo
.vscode/launch.json
.vscode/tasks.json
.vscode/Woisol-Snippet-C.code-snippets
